<footer class="site-footer-dark">
  <div class="footer-links">
    <a href="https://www.linkedin.com/in/shafqatalix" aria-label="LinkedIn">
      <img src="{{ '/images/social-icons/linkedin.svg' | relative_url }}" alt="LinkedIn">
    </a>
    <a href="https://twitter.com/shafqatalix" aria-label="X/Twitter">
      <img src="{{ '/images/social-icons/twitter.svg' | relative_url }}" alt="X/Twitter">
    </a>
    <a href="https://github.com/shafqatalix" aria-label="GitHub">
      <img src="{{ '/images/social-icons/github.svg' | relative_url }}" alt="GitHub">
    </a>
  </div>
  <div class="footer-copy">&copy; {{ site.time | date: '%Y' }} YORABA. All rights reserved.</div>
</footer>
