<div id="about_us">
  <div style="display: flex; flex-wrap: wrap; flex-direction: row">
    <div style="max-width: 250px; padding: 0px 40px 0px 0px">
      <img src="images/shafqat.jpg" class="profile" />
      <h2>Shafqat Ali</h2>
    </div>
    <div style="max-width: 450px">
      <p>
        Hi there! My name is Shafqat and I'm the creator of this technology
        blog. I have always been fascinated by technology and how it shapes our
        world, and I created this blog as a way to share my insights and
        knowledge with others who share my passion.
      </p>

      <p>
        I have a masters degree in computer science and have been working in the
        tech industry for the past 14 years. In my spare time, I enjoy staying
        up-to-date on the latest gadgets and technology trends, and I love
        writing about them on this blog.
      </p>

      <p>
        I started my career as java developer, then switched to .NET,Angular ,
        NodeJS, React. Now I turned my focus towards design and architecture of
        cloud-based software systems.
      </p>

      <p>
        I hope you find the content on this blog informative and useful. If you
        have any questions or suggestions, please don't hesitate to contact me.
      </p>
    </div>
  </div>
</div>
